//- lodash
script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')

//- Angular
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-animate.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-aria.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-messages.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-sanitize.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular-route.min.js')

//- Angular Material
script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js')

// build:js index.js
script(src='/index.js')

script(src='/config/route.js')

script(src='/constants/profile.js')
script(src='/constants/experience.js')
script(src='/constants/technology.js')
script(src='/constants/education.js')
script(src='/constants/awards.js')
script(src='/constants/connect.js')
script(src='/constants/research.js')
script(src='/constants/projects.js')
script(src='/constants/tags.js')

script(src='/factories/utils.js')
script(src='/factories/menu.js')
script(src='/factories/project.js')

script(src='/controllers/root.js')
// endbuild
